force-app/main/default/flows/CreateHolidayRecordAndRevertToEventManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignToEventManagement</name>
        <label>AssignToEventManagement</label>
        <locationX>871</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>FetchRecordsFromHoliday.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Event_Management__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchRecordsFromHoliday</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CreateHolidayRecordAndRevertToEventManagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateHolidayRecordAndRevertToEventManagement</label>
    <loops>
        <name>FetchRecordsFromHoliday</name>
        <label>FetchRecordsFromHoliday</label>
        <locationX>611</locationX>
        <locationY>386</locationY>
        <collectionReference>GetHolidayData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToEventManagement</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetHolidayData</name>
        <label>GetHolidayData</label>
        <locationX>403</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchRecordsFromHoliday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Management__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Event_Management__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>174</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>GetHolidayData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Holiday__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
