force-app/main/default/flows/Create_Assign_Classes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CheckRecordPriorId</name>
        <label>CheckRecordPriorId</label>
        <locationX>690</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriorIdNotEqualToNewId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subject__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Teacher__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Teacher__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_assgin_classes</targetReference>
            </connector>
            <label>PriorIdNotEqualToNewId</label>
        </rules>
        <rules>
            <name>PriorIdEqualToNewId</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subject__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Teacher__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Teacher__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTeacherOrSubject</targetReference>
            </connector>
            <label>PriorIdEqualToNewId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Assign Classes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Assign Classes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_assgin_classes</name>
        <label>create assgin classes</label>
        <locationX>536</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>$Record.Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teacher__c</field>
            <value>
                <elementReference>$Record.Teacher__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeTable__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Assign_Classes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateTeacherOrSubject</name>
        <label>UpdateTeacherOrSubject</label>
        <locationX>869</locationX>
        <locationY>392</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Subject__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Subject__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Teacher__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Teacher__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TimeTable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teacher__c</field>
            <value>
                <elementReference>$Record.Teacher__c</elementReference>
            </value>
        </inputAssignments>
        <object>Assign_Classes__c</object>
    </recordUpdates>
    <start>
        <locationX>116</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>CheckRecordPriorId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Teacher__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TimeTable__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
